<div class="area">
    <div class="user-container">
        @if (auth.isLoggedIn()) {
            <button mat-mini-fab (click)="goToAdmin()" matTooltip="Administrace" matTooltipPosition="left">
                <mat-icon>security</mat-icon>
            </button>
            <button mat-mini-fab (click)="goToMessages()" matTooltip="Administrace" matTooltipPosition="left">
                <mat-icon>message</mat-icon>
            </button>
            <button mat-mini-fab (click)="goHome()" matTooltip="Domů" matTooltipPosition="below">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-mini-fab (click)="logout()" matTooltip="Odhlásit se" matTooltipPosition="left">
                <mat-icon>logout</mat-icon>
            </button>
        } @else {
            <button mat-mini-fab (click)="goToLogin()" matTooltip="Přihlásit se" matTooltipPosition="below">
                <mat-icon>login</mat-icon>
            </button>
        }

    </div>
    <div class="content">
        <router-outlet />
    </div>
    <div class="footer">
        <p>Zálesák Ždánice © 2025</p>
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
